
.card-title {
    font-size: 40px;
}
.card-text {
    font-size: 30px;
    color: black;
}
.contador {
    color: black;
}
.imagen{
    height: 300px;
    
}
.link {
    font-size: 30px;
    text-decoration: none;
    color: rgb(53, 52, 53);
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

.col-md-4 {
   padding: 10px;
   
}


