
.card-title {
    font-size: 40px;
}
.card-text {
    font-size: 30px;
    color: black;
}
.contador {
    color: black;
}
.imagen{
    height: 300px;
    
}
.link {
    font-size: 30px;
    text-decoration: none;
    color: blueviolet;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

.col-md-4 {
   padding: 10px;
   
}
.bubble-add {
    margin: 0;
    height: 0;
    position: relative;
    top: -20%;
    left: 90%;
   
    
}

